* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {}

@media (min-width: 1599px) {}

:root {
  --main-bg-color: #111111;
  --light-bg-color: #f2f2f2;
  --accent-color: #400692;
  --text-color: #00B8F8;
  --text-light: #f2f2f2;
  --nav-height: 3rem;
}

html, body {
  scroll-behavior: smooth;
}

div.root {
  background-color: var(--main-bg-color);
}

.font-name {
  font-family: 'Varela Round', sans-serif;
  font-size: 96px;
  color: var(--text-color)
}

@media (max-width: 600px), (max-height: 600px) {
  .font-name {
    font-family: 'Varela Round', sans-serif;
    font-size: 64px;
  }
}

.font-content {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  color: var(--text-light)
}

.nav-dock {
  bottom: 0;
  left: 0;
  position: absolute;
  background: var(--darker-bg-color);
  height: var(--nav-height);
  text-align: left;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.nav-dock a {
  float: left;
  display: block;
  color: var(--text-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-dock a.current {
  color: var(--text-color);
}

@media (min-width: 600px) {
  .nav-dock.fixed {
    left: 0;
    top: 0;
    position: fixed;
    animation: popDown 0.5s;
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.flex-center {
  justify-content: center;
  align-items: center;
}

.flex.align-self-end {
  align-self: flex-end;
}

.home-title {
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.home-buttons {
  justify-content: center;
  align-items: center;
  flex-grow: 2;  
}

.flex-items-home {
  flex-grow: 1;
}

.projects {
  justify-content: center;
}

.project {
  justify-content: center;
}

.project-image {
  width: 25vw;
}

.project-text {
  width: 25vw;
}

.project-image {
  display: block;
  max-width: 500px;
  max-height: 600px;
  width: auto;
  height: auto;
}

.nav-bar-padding {
  padding-top: var(--nav-height);
}

.fill-viewport-height {
  height: 100vh;
}

.button {
  /* border: 5px solid red; */
  background: var(--accent-color);
}

.button.button-big-square {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

@media (max-width: 600px), (max-height: 600px) {
  .button.button-big-square {
    height: 75px;
  }
}

.button.button-big-square a {
  font-size: 24px;
  text-decoration: none;
  width: 100%;
  color: var(--text-color);
}

.button.button-big-square a:hover {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color);
}
