* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {}

@media (min-width: 1599px) {}

:root {
  --main-bg-color: #55b9f3;
  --darker-bg-color: #1a78af;
  --accent-color: #e31b6d;
  --text-light: #f2f2f2;
  --nav-height: 50px;
}

div.root {
  background-color: var(--main-bg-color);
}

.name-font {
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
}

.content-font {
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
}

.nav-dock {
  bottom: 0;
  left: 0;
  position: absolute;
  background: var(--darker-bg-color);
  height: var(--nav-height);
  text-align: left;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.nav-dock a {
  float: left;
  display: block;
  color: var(--text-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-dock a.current {
  color: var(--accent-color);
}

@media (min-width: 600px) {
  .nav-dock.fixed {
    left: 0;
    top: 0;
    position: sticky;
    animation: popDown 0.5s;
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

.flex-section {
  display: flex;
  height: calc(100vh - var(--nav-height));
}

.home {
  align-items: center;
  justify-content: center;
}
